/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/media
/var/media/*
!var/media/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/bin/*
!/bin/build-package
!/bin/build-packages
!/bin/clean-package
!/bin/clean-packages
!/bin/console
!/bin/fix-coding-standards
!/bin/install-package
!/bin/install-packages
!/bin/symfony_requirements
!/bin/test-package
!/bin/test-packages
!/bin/validate-package
!/bin/validate-packages

/vendor/
/web/bundles/

/web/media/
/web/assets/
/web/thumbnail
/scripts/admin/private

node_modules
